/* INICIO DE PRIMER MEDIA QUERY */
* {
  font-family: benchnine;
}
@media screen and (min-width:1024px){
  .fmp-title-container{
    display: flex;
    justify-content: center;
  }
  .fmp-title-container>h2,.form-FMP-container>p{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
  }
  .fmp-title-container>h2{
    width: 50%;
    display:flex;
    justify-self: center;
    border-bottom:3px solid #D6D6D6;
    color: #9C9C9C;
  }
  .form-ForgotMyPassword{
    width: 1000px;
    margin: 0 auto;
  }
  .form-fmp-container{
    display: grid;
    grid-row-gap: 5px;
  }
  .item-form-forgotMP>input{
    width: 100%;
    height: 30px;
  }
  
  
}
/* FIN DE PRIMER MEDIA QUERY */