/* INICIO DE PRIMER MEDIA QUERY */
* {
  font-family: benchnine;
}
  .fmp-title-container{
    display: flex;
    justify-content: center;
  }
  .fmp-title-container>h2,.form-FMP-container>p{
    display: flex;
    justify-content: center;
    margin-bottom:3%;
  }
  .fmp-title-container>h2{
    width: 50%;
    display:flex;
    justify-self: center;
    border-bottom:3px solid #D6D6D6;
    border-width: thin;
    color: #9C9C9C;
  }
  .form-ForgotMyPassword{
    width: 90%;
    margin: 0 auto;
  }
  .form-fmp-container{
    display: grid;
    grid-row-gap: 5px;
  }
  .item-form-forgotMP>input{
    width: 50%;
    height: 6vh;
  }
  .item-form-forgotMP{
    display: flex;
    justify-content: center;
  }
  .item-form-forgotMP>input{
    background-color:#E0DBDB;
  }
  .form-ForgotMyPassword{
    margin-bottom: 3%;
  }

  /* INICIO DE MEDIA QUERYS */
  @media screen and (max-width:425px){
    .form-FMP-container > p{
      font-size: 0.8em;
      text-align: center;
      padding: 2%;
    }
  }
  @media screen and (max-width:320px){
    .form-FMP-container > div > h2{
      font-size: 1.2em;
    }
  }
  /* FIN DE MEDIA QUERYS */
