.ReserveSection1{
    max-width: 1000px;
    margin: auto;
    }
.hero-container{
    display: flex;
    /* justify-content: center;
    justify-items: center; */
    width: auto;
    margin: 20px auto;
    padding: 0 10px;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;
}
.previous{
    font-size: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* padding: 8px 16px; */
    color:white;
    height: 50%;
    width: 30px;
    clip-path: circle(40% at 50% 50%);
}
.previous:hover{
  background-color:#1F4899;
}
.herosection-1{
    display: flex;
    justify-content: center;
    color: black;
    text-transform: capitalize;
    height: 80px;
    /* font-family: roboto; */
    margin: 0 auto;
}
/* .ReserveSection{
    height: 500px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
} */



/* INICIO DE LOS ESTILOS AL GIRD DE CÓMO FUNCIONA FIXIT */
/* .herosection-2{
    max-width: 1000px;
    margin: 50px auto;
    height: 80px;
    font-family: roboto;
} */
.herosection-2{
    margin-top: 5%;
    font-size: 60px;
}
.titulo-herosection-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
    
}

.titulo-herosection-2>h1{
    font-size: 1em;
    margin:0 auto;
    font-weight: normal;
}
.grid-herosection-2{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,0.1fr);
    grid-column-gap: 4%;
    grid-row-gap: 1%;
    /* height: 100vh; */
    justify-items: center;
    align-items: center;
    margin: 4% auto;
}
.item{
    font-size: 40px;
}
.item:nth-of-type(1){
    grid-column: 1 / -1;
}
.item:nth-of-type(1)>h2{
    margin-top: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;

}
.item:nth-of-type(2),.item:nth-of-type(3),.item:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.item:nth-of-type(2)>img{
    /* box imagen paso 1 */
    max-width: 50%;
    justify-self: center;
}
.item:nth-of-type(3)>img{
    /* box imagen paso 2 */
    max-width: 40%;
}
.item:nth-of-type(4)>img{
    /* box imagen paso 3 */
    max-width: 60%;
}
.item:nth-of-type(5){
    text-align: center;
    padding: 0 10px;
    text-align: center;
}
.item:nth-of-type(6){
    text-align: center;
    padding: 0 10px;
    text-align: center;
}
.item:nth-of-type(7){
    text-align: center;
    padding: 0 10px;
    text-align: center;
}
.item:nth-of-type(5)>h2,.item:nth-of-type(6)>h2,.item:nth-of-type(7)>h2{
    font-size: 0.7em;
}
.item:nth-of-type(5)>p,.item:nth-of-type(6)>p,.item:nth-of-type(7)>p{
    font-size: 0.4em;
}
/* FIN DE LOS ESTILOS AL GID DE CÓMO FUNCIONA FIXIT */



/* INICIO DE ESTILOS AL BANNER PUBLICITARIO*/

.herosection-3-2{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
    margin-bottom: 1%;
}
.herosection-3-2-bckgrnd{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    padding: 3% 0;
    background-color: #00000087;
}
.herosection-3-2-bckgrnd>img{
    width: 10%;
}
.herosection-3-2-bckgrnd>h1{
    color: white;
    font-size: 1em;
}
.herosection-3-2-bckgrnd>p{
    color: white;
    font-size: 0.7em;
}
.herosection-3{
    display: flex;
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:#dbd5d5b0;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    align-items: center;
    box-shadow: 5px  5px 5px grey;
    /* box-shadow: 10px -2px 5px 0px rgba(99,99,99,1); */
    /* margin-bottom: 10px; */
}
.banner-publicitario1{
    width: 95%;
    height: 90%;
    margin: auto;
    overflow: hidden;
}
.banner-publicitario1>ul{
    padding: 0;
    display: flex;
    width: 400%;
    width: fit-content;
    animation: cambio 10s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.banner-publicitario1>li{
   display: inherit; 
   list-style: none;
   width: auto;
}
.banner-img{
    display: inherit;
    height: 300px;
    width: auto;
    margin: 0 auto;
}
@keyframes cambio{
 0% { margin-left: 0;}
 20% { margin-left: 0;}
 
 25% { margin-left: -100%;}
 45% { margin-left: -100%;}
 
 50% { margin-left: -200%;}
 70% { margin-left: -200%;}
 
 75% { margin-left: -300%;}
 100% { margin-left: -300%;}
 
}
/* FIN DE ESTILOS A LA BANNER PUBLICITARIO*/



/* INICIO DE ESTILOS A LA SECCIÓN POR QUÉ FIXIT */
.herosection-4{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(3, 33.333%);
    grid-column-gap: 0.8%;
    grid-row-gap: 0.8%;
    justify-items: center;
    align-items: center;
    box-shadow: 5px  5px 5px grey;
    height: 50%;
    color: white;
    width: 100%;
    font-size: 40px;
}
.porqueimg{
    width: 40%;
}
.item2{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.item2>h2{
    font-size: 0.7em;
    margin: 1%;
}
.item2>p{
    font-size: 0.5em;
}
.item2:nth-of-type(1){
    grid-column: 1 / -1;
    font-size: 1em;
    font-weight: bold;
}
.item2:nth-of-type(1)>h1{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}
.item2:nth-of-type(2){
    justify-content: flex-end;
}
.item2:nth-of-type(2)>img{
    margin-top:30%;
}

.item2:nth-of-type(3)>img{
    width: 30%;
}
.item2:nth-of-type(4){
    justify-content: flex-end;
}
.item2:nth-of-type(4)>img{
    margin-top: 30%;
}
.item2:nth-of-type(5){
    text-align: center;
    padding: 0 5%;
}
.item2:nth-of-type(6){
    text-align: center;
    margin-top:-30%;
    padding: 0 5%;
}
.item2:nth-of-type(7){
    text-align: center;
    padding: 0 5%;
}
/* FIN DE ESTILOS A LA SECCIÓN POR QUÉ FIXIT */



/* INICIO ESTILOS A SECCIÓN CIFRAS */
.herosection-5{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-items: center;
    align-items: center;
    margin-top: 8%;

}
.item3{
    font-size: 70px;
}
.item3:nth-of-type(1){
    text-align: center;
}
.item3:nth-of-type(1)>p{
    color:grey;
    margin: 0;
}

.item3:nth-of-type(2){
    text-align: center;
}
.item3:nth-of-type(2)>p{
    color:grey;
    margin: 0;
}
.item3:nth-of-type(3){
    text-align: center;
}
.item3:nth-of-type(3)>p{
    color:grey;
    margin: 0;
}
.item3:nth-of-type(4){
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    padding: 3%;
}
.item3:nth-of-type(1)>h2,.item3:nth-of-type(2)>h2,.item3:nth-of-type(3)>h2{
    font-size: 1em;
    text-shadow:2px 2px grey;
    font-style: italic;
    margin:0;
}
.item3>h3{
    font-size: 0.5em;
    font-style: italic;
    margin: 0;
}
.item3>p{
    font-size: 0.3em;
}
.celular1{
    width: 68%;
}
.item3:nth-of-type(1),.item3:nth-of-type(3){
    padding-top: 20%;
}
.item3:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
/* FIN ESTILOS A SECCIÓN CIFRAS */





/* INICIO DE PRIMER MEDIA QUERY */
@media screen and (max-width:767px){
    /* inicio media query para el titulo de selecciona tu dispositivo */
    .hero-container{
        width:auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    /* fin de media query */
}
@media screen and (max-width:425px){
    /* inicio de query para sección como funciona fixit */
    .titulo-herosection-2{
        font-size: 0.8em;
    }
    .titulo-herosection-2>h1{
        text-align: center;
    }
    .grid-herosection-2{
        width: 92%;
    }
    .herosection-3{
        display: none;
        margin-top: 15%;
    }
    .item:nth-of-type(1)> h2{
        font-size: 0.5em;
    }
    .titulo-herosection-2{
        font-size: 0.6em;
    }
    .item:nth-of-type(5),.item:nth-of-type(6),.item:nth-of-type(7){
        font-size: 0.5em;
    }
    .grid-herosection-2{
        width: 98%;
    }
}
@media screen and (max-width:385px){
    .item:nth-of-type(5),.item:nth-of-type(6),.item:nth-of-type(7){
        font-size: 0.4em;
    }
    .grid-herosection-2{
        width: 100%;
    }
}
/* fin query */

/* @media screen and (max-width:375px){
    .grid-herosection-2{
        grid-template-rows: repeat(7,0.1fr);
    }
    .item:nth-of-type(2){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .item:nth-of-type(5){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .item:nth-of-type(3){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .item:nth-of-type(6){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .item:nth-of-type(4){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .item:nth-of-type(7){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .herosection-3{
        display: none;
        margin-top: 15%;
    }
} */

/* FIN DE PRIMER MEDIA QUERY */


/* INICIO MEDIA QUERY PARA SECCIÓN POR QUÉ FIXIT */
@media screen and (min-width:1035px){
    .item2:nth-of-type(6){
        margin-top: 0;
    }
    .item2:nth-of-type(3)>img{
        width: 25%;
    }
}
@media screen and (min-width:300px) and (max-width:425px){
    .herosection-4{ 
        grid-template-rows: repeat(3, 25%);
        margin-top: 15%;
    }
    .item2:nth-of-type(2)>img,.item2:nth-of-type(4)>img{
        margin-top:0;
    }
    .item2:nth-of-type(6){
        margin-top: 0;
    }
    .item2:nth-of-type(2),.item2:nth-of-type(3),.item2:nth-of-type(4){
        justify-content: center;
    }
    .item2:nth-of-type(1)>h1{
        margin-top: 0;
        padding-top: 2%;
        margin-bottom: 10%;
        font-size: .9em;
    }
    
}
@media screen and (max-width:425px){
    .item2:nth-of-type(5)>h2,.item2:nth-of-type(6)>h2,.item2:nth-of-type(7)>h2{
        font-size:0.5em;         
    }
    .item2:nth-of-type(5)>p,.item2:nth-of-type(6)>p,.item2:nth-of-type(7)>p{
        font-size: 0.3em;
    }
}
@media screen and (min-width:300px) and (max-width:375px){
    .herosection-4{
        grid-template-rows: repeat(7, auto);
        padding-bottom: 10%;
    }
    .item2:nth-of-type(2){
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .item2:nth-of-type(3){
        grid-column-start: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .item2:nth-of-type(4){
        grid-column-start: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .item2:nth-of-type(5){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .item2:nth-of-type(6){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .item2:nth-of-type(7){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 7;
    }
    .item2:nth-of-type(1)>h1{
        font-size: 1em;
    }
    .item2:nth-of-type(5)>h2,.item2:nth-of-type(6)>h2, .item2:nth-of-type(7)>h2{
        font-size: .6em;
    }
    .item2:nth-of-type(5)>p,.item2:nth-of-type(6)>p, .item2:nth-of-type(7)>p{
        font-size: 0.5em;
    }
}
/* FIN DE QUERYS PARA SECCION POR QUÉ FIXIT */

/* INICIO DE MEDIA QUERY PARA SECCIÓN DE CIFRAS */
@media screen and (max-width:425px){
    .item3:nth-of-type(1)>h2,.item3:nth-of-type(2)>h2,.item3:nth-of-type(3)>h2{
        font-size: 0.6em;
    }
    .item3>h3{
        font-size: 0.3em;
        font-style: italic;
        margin: 0;
    }
    .item3>p{
        font-size: 0.2em;
    }
}
/* FIN DE MEDIA QUERY PARA SECCIÓN DE CIFRAS */
