/* INICIO DE PRIMER MEDIA QUERY */
* {
  font-family: benchnine;
}
@media screen and (min-width:1024px){

  /* INICIO ESTILOS ACORDEON */
  .titulo-acordeon{
    color: #1E4899;
  }
.acordeon-container{
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.acordeon input{
  display: none;
}
.acordeon-titulo{
  display: block;
  padding: 15px;
  background: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.acordeon-titulo:hover{
  background: rgba(27, 26, 26, 0.8);
  color: grey;
}
.acordeon-contenido{
  height: 0;
  overflow: hidden;
  margin:0;
  transition: all 0.5s;
}
.acordeon input:checked ~ .acordeon-contenido{
height: auto;
margin: 15px 0;
}
/* FIN ESTILOS ACORDEON */

/* INICIO ESTILOS DE FORMULARIO DE CONTACTO*/

/* FIN ESTILOS DE FORMULARIO DE CONTACTO*/

/* INICIO ESTILOS PARTE INFORMATIVA DE LA SECCIÓN SOPORTE */
.seccion-informacion-soporte{
  margin-top: 20px;
}
.grid1-soporte{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,0.1fr);
  grid-column-gap: 80px;
  grid-row-gap: 10px;
    /* height: 100vh; */
  justify-items: center;
  align-items: center;
}
.item-grid1-soporte{
  border:1px solid red; 
  padding: 20px;
}

.item-grid1-soporte:nth-of-type(1){
  justify-self: left;
  margin-left: 80px;
  border-radius: 100px;
  /* margin: 10px; */
}
.item-grid1-soporte:nth-of-type(3){
  justify-self: right;
  border-radius: 100px;
}
.item-grid1-soporte:nth-of-type(5){
  justify-self: center;
  border-radius: 100px;  
}
/* FIN ESTILOS PARTE INFORMATIVA DE LA SECCIÓN SOPORTE */

}
/* FIN PRIMER MEDIA QUERY */