* {
  font-family: benchnine;
}
  /* INICIO ESTILOS ACORDEON */
  .titulo-acordeon{
    color: #1E4899;
    font-size: 40px;
    font-size: 4vw;
  }
  .acordeon{
    font-size: 20px;
  }
.acordeon-container{
  box-sizing: border-box;
  width: 97%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.acordeon input{
  display: none;
}
.acordeon-titulo{
  display: block;
  padding: .7%;
  background: black;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-bottom: 1% solid white;
}
.acordeon-titulo:hover{
  background: rgba(27, 26, 26, 0.8);
  color: grey;
}
.acordeon-contenido{
  height: 0;
  overflow: hidden;
  margin:.3%;
  transition: all 0.5s;
  box-shadow: 0px 2px 6px 0px grey;
  padding-left: 1%;
}
.acordeon input:checked ~ .acordeon-contenido{
height: auto;
margin: 1% 0;
}

/* FIN ESTILOS ACORDEON */

/* INICIO ESTILOS DE FORMULARIO DE CONTACTO*/
.formulario-soporte{
  font-size: 50px;
}
.formulario-soporte>h3{
font-weight: bold;
font-size:1em;
margin: 0%;
margin-top: 6%;
}
.formulario-soporte>p{
font-size: 0.5em;
margin:-0.8% 0;
font-weight: normal;
color: grey;
margin-bottom: -1%;
}
.form-container{
  box-shadow: 0px 2px 6px 0px grey;
  padding: 1%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.form-container>label{
font-size: 0.3em;
width: 100%;
margin-right: 25.5%;
}
.campos-formulario-soporte{
  display: flex;
}
.campos-formulario-soporte>input{
  width:80%;
  height: 10vh;
}
.e-mail{
  /* margin-top: 30px;
  margin-left:10px; */
  border: none;
  background-color: #E0DBDB;
}
.e-mail:nth-of-type(1){
  margin-left: 0;
}
.e-mail:nth-of-type(2),.e-mail:nth-of-type(1),.e-mail:nth-of-type(3){
  margin-right: 10px; 
}
.boton-formulario{
  margin-top: 10px;
  width: auto;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}
/* FIN ESTILOS DE FORMULARIO DE CONTACTO*/

/* INICIO ESTILOS PARTE INFORMATIVA DE LA SECCIÓN SOPORTE */
.seccion-informacion-soporte{
  margin-top: 8%;
}
.grid1-soporte{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,0.1fr);
  /* grid-column-gap: 60px; */
  /* grid-row-gap: 10px; */
    /* height: 100vh; */
  justify-items: center;
  align-items: center;
  background-color: #F7F7F7;
  padding: 3% 0;
}
.item-grid1-soporte{
  /* border:1px solid red;  */
  /* padding: 20px; */
  
}
.item-grid1-soporte>h2{
  font-size: 30px;
  margin-right: 20px;
  color:#981915;
}
.item-grid1-soporte>p{
font-size: 18px;
padding: 0 15%;
text-align: justify;
}
.item-grid1-soporte:nth-of-type(2){
  align-self: end;
}
.item-grid1-soporte:nth-of-type(1){
  justify-self: left;
  margin-left: 20%;
  clip-path: circle(50% at 50% 50%);
  /* margin: 10px; */
  width: 180px;
  height: 180px;
}
.item-grid1-soporte:nth-of-type(3){
  justify-self: right;
  clip-path: circle(50% at 50% 50%);
  /* border-radius: 100px; */
  width: 140px;
  height: 140px;
  margin-right: 10%;
}
.item-grid1-soporte:nth-of-type(5){
  justify-self: center;
  clip-path: circle(50% at 50% 50%);  width: 120px;
  height: 120px;
  margin-right: 50px;
}
.wp-button{
  background-color:#1E7E34;
  width: auto;
  height: 30px;
  color: white;
  border: none;
  border-radius: 40%;
  font-size: 15px;
}
/* FIN ESTILOS PARTE INFORMATIVA DE LA SECCIÓN SOPORTE */

/*INICIO DE MEDIA QUERYS*/

/* =====Query para Acordeón======*/
@media screen and (max-width:425px){
  .titulo-acordeon{
    font-size: 5vw;
  }
  .acordeon-titulo{
    font-size: 0.8em;
  }
}
/* =====Fin Query para Acordeón======*/

/* =====Query para formulario de contacto======*/
@media screen and (max-width:768px){
  *{
    max-width: 1000px;
  }
}
@media screen and (max-width:768px){
  .formulario-soporte>h3{
    font-size: 0.8em;
  }
  .formulario-soporte>p{
    font-size: 0.4em;
  }
}
@media screen and (max-width:425px){
  .formulario-soporte>h3{
    font-size: 0.5em;
  }
  .formulario-soporte>p{
    font-size: 0.3em;
  }
  .form-container>label{
    margin-right: 15%;
  }
  .boton-formulario{
    width: auto;
  }
}
@media screen and (max-width:375px){
  .form-container>label{
    margin-right: 12%;
  }
}
@media screen and (max-width:320px){
  .form-container>label{
    margin-right: 8%;
  }
}
/* =====Fin Query para formulario de contacto======*/


/* =====Query para seccion informativa de soporte======*/
@media screen and (max-width:425px){
  .grid1-soporte{
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(1, auto);
  }
  .item-grid1-soporte:nth-of-type(1){
    display: none;
  }
  .item-grid1-soporte:nth-of-type(3){
    display: none;
  }
  
  .item-grid1-soporte:nth-of-type(5){
    display: none;
  }
  .item-grid1-soporte>h2{
    font-size: 20px;
  }
  .item-grid1-soporte>p{
    font-size: 15px;
  }
}
/* =====Fin Query para seccion informativa de soporte======*/