/* INICIO PRIMER MEDIA QUERY*/
* {
  font-family: benchnine;
}

  .section-container{
    /* max-width: 1350px; */
    margin: 0 auto;
    /* padding-left:3% ;
    padding-right: 3%; */
  }
/* INICIO ESTILOS A PRIMER GRID "TRABAJA CON NOSOTROS"*/

  .section1{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2,0.1fr);
    font-size: 40px;
  }
  
  .grid1-img{
    /* max-width: 700px; */
    max-width: 69vw;
  }
  
  .item4:nth-of-type(1){
    justify-self: center;
    color: white;
    font-size: 1em;
    letter-spacing: 0.5px;
    width: 100%;
  }
  .item4:nth-of-type(1)>h1{
    margin-bottom: 0;
    width: auto;
    text-align: center;
  }
  .item4:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5; 
    justify-self: center;
  }
  .item4:nth-of-type(3){
    justify-self: center;
    color: white;
    padding:0;
    letter-spacing: 0.5px;
  }
  .item4:nth-of-type(3)>p{
    font-weight: normal;
    margin: 0;
    font-size: 0.45em;
  }
  .item4:nth-of-type(5){
    justify-self: center;
    color: white;
  }
  .item4:nth-of-type(5)>button{
    margin-top: 90%;
    width: auto;
    padding: 15%;
    height: 10%;
    background-color: #3ABB47;
    border: none;
    color: white;
    font-size: 0.36em;
    border-radius: 50%;
    cursor: pointer;
  }
/* FIN ESTILOS A PRIMER GRID "TRABAJA CON NOSOTROS"*/

/* INICIO ESTILOS A SEGUNDO GRID "CÓMO FUNCIONA"*/
.section2-tittle{
  display: flex;
  justify-content: flex-end;
  margin-top: 7%;
}
.section2-tittle>h2{
  margin: auto 0;
  color: #981915;
  font-weight: bold;
  font-size: 50px;
}
.section2-tittle>figure{
  background-color: #BE6F6D;
  width: 1%;
  height: 30px;
  margin: auto 1%;
}
.section2{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  margin:5% 0;
  font-size: 20px;
}
.item5{
  width: 100%;
  height: 100%;
}
.item5:nth-of-type(1){
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5; 
  justify-self: center !important;
  align-self: center;
  font-size: 1em;
  font-weight: normal;
}
.item5:nth-of-type(1)>p{
  text-align: center;
  box-sizing: border-box;
  height: inherit;
  text-decoration: none;
  padding: 0 15%;
  padding-top: 15%;
  
}
.item5:nth-of-type(2),.item5:nth-of-type(3),.item5:nth-of-type(4){
  margin: 0;
  padding: 0;
  background-color: #C4C4C4;
  clip-path: circle(28% at 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item5:nth-of-type(2)>img,.item5:nth-of-type(3)>img,.item5:nth-of-type(4)>img{
width: 30%;
}
.item5:nth-of-type(5),.item5:nth-of-type(6),.item5:nth-of-type(7){
  margin: 0;
  padding: 0;
}
.item5:nth-of-type(5),.item5:nth-of-type(6),.item5:nth-of-type(7)>p{
  text-align: center;
}
/* FIN ESTILOS A SEGUNDO GRID "CÓMO FUNCIONA"*/

/* INICIO ESTILOS TERECERA SECCIÓN "CONTÁCATANOS" */
.section3-title{
  display: flex;
  justify-content: center;
  
}
.section3-title{
  font-size: 35px;
}
.section3-figure1{
  background-color: #981915;
  width: 1%;
  height: 30px;
  margin: auto 1%;
}
.section3-figure2{
  background-color: #1E4899;
  width: 1%;
  height: 30px;
  margin: auto 1%;
}
.section3-form{
  display: flex;
  justify-content: space-between;
  padding: 2%;
  padding-bottom: 0;
}
.formulario-trabaja{
  margin-bottom: 1.5%;
}
.form2-container{
  box-shadow: 0px 2px 6px 0px grey;
  width: 650px;
  width: 184%;
  padding:6%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  font-size: 20px;
}
.item6:nth-of-type(1){
  grid-column-start: 1; 
  grid-column-end: 7;
  display: flex;
  align-items: flex-end;
  font-size: 1em;
}
.item6:nth-of-type(2){
  grid-column-start: 1; 
  grid-column-end: 8;
  width: 100%;
}
.item6:nth-of-type(2)>input{
  width: inherit;
  background-color: #E0DBDB;
  border: none;
  height: 100%;
}
.item6:nth-of-type(3){
  grid-column-start: 1; 
  grid-column-end: 4;
  grid-row-start:3;
  display: flex;
  align-items: flex-end; 
  font-size: 1em;
}
.item6:nth-of-type(4){
  grid-column-start: 1; 
  grid-column-end: 4;
  width: 100%;
  grid-row-start:4;
}
.item6:nth-of-type(4)>input{
  width: inherit;
  background-color: #E0DBDB;
  border: none;
  height: 100%;
}
.item6:nth-of-type(5){
  grid-column-start: 5; 
  grid-column-end: 9;
  grid-row-start:3;
  display: flex;
  align-items: flex-end;
  font-size: 1em;
}
.item6:nth-of-type(6){
  grid-column-start: 5; 
  grid-column-end: 9;
  grid-row-start:4;
  width: 100%;
}
.item6:nth-of-type(6)>input{
  width: inherit;
  background-color: #E0DBDB;
  border: none;
  height: 100%;
}
.item6:nth-of-type(7){
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start:5;
  width: 100%;
}
.item6:nth-of-type(7)>button{
  width: auto;
  height: 100%;
  background-color: #3ABB47;
  color: white;
  border:none;
  border-radius: 30%;
  font-size: 0.8em;
  margin-top: 5%;
  cursor: pointer;
}
.trabajaimg4{
  width:40%;
}
/* FIN ESTILOS TERECERA SECCIÓN "CONTÁCATANOS" */

/* INICIO DE MEDIA QUERYS*/

/* -----media query para el hero de la página----- */
@media screen and (max-width:425px){
  .item4:nth-of-type(1)>h1{
    font-size: 0.7em;
  }
  .item4:nth-of-type(3){
    padding: 8%;
  }
  .item4:nth-of-type(3)>p{
    font-size: 0.35em;
  }  
}
@media screen and (max-width:320px){
  .item4:nth-of-type(3)>p{
    text-align: justify;
  }
  .item4:nth-of-type(5)>button{
    margin-top: 0;
    margin-bottom:50%;
  }
  .section2-tittle{
    display: flex;
    justify-content: center;
  }
  .section2-tittle>figure{
    display:none;
  }
}
/* -----Fin media query para el hero de la página----- */

/* -----media query para sección ¿cómo funciona?----- */
@media screen and (max-width:768px){
  .section2-tittle{
    margin-top: 0;
  }
  .item5:nth-of-type(5)>p, .item5:nth-of-type(6)>p, .item5:nth-of-type(7)>p {
    font-size: 0.7em;
  }
}
@media screen and (max-width:425px){
  .section2-tittle>h2{
    font-size: 40px;
  }
  .section2{
    grid-template-rows: repeat(3 , 1fr);
    grid-template-columns: repeat(3 , 1fr);
  }
  .item5:nth-of-type(1)>p{
    padding-top: 0;
  }
  .item5:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .item5:nth-of-type(2){
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end:2;
  }
}
/* -----fin media query para sección ¿cómo funciona?----- */


/* -----media query para sección contáctanos----- */
@media screen and (max-width:1024px){
  .form2-container{
    width: 130%;
  }
}
@media screen and (max-width:1024px){
  .form2-container{
    width:90%;
  }
  .trabajaimg4{
    width:45%;
    height: 50%;
    align-self: flex-end;
  }
  .section3-figure1,.section3-figure2{
    margin-bottom: 3%;
  }
  .section3-title>h2{
    margin-bottom: 0;
  }
}
@media screen and (max-width:425px){
  .section3-form{
    flex-direction: column;
  }
  .section3-title{
    font-size: 1.3em;
  }
  .section3-title>h2{
    margin-bottom: 1%;
  }
  .trabajaimg4{
    margin-top:10%;
    align-self: center;
    width: 80%;
  }
  .item6:nth-of-type(1)>label,.item6:nth-of-type(3)>label,.item6:nth-of-type(5)>label{
    font-size: 0.7em;
  }
  .item6:nth-of-type(7){
    margin-top: 5%;
  }
}
/* ----- fin media query para sección contáctanos----- */