.OptionBox {
    width: 15vw;
    margin: 10px;
    display: inline-block;
}

.TopOptionBox {
    background-color: aqua;
    padding:15px;
    text-align: center;
}

.DwonOptionBox {
    background-color: blueviolet;
    padding: 1px;
    text-align: center;
}


