.OptionBox {
    width: 15vw;
    margin: 10px;
    display: inline-block;
}

.TopOptionBox {
    background-color:white;
    padding:15px;
    text-align: center;
    border: 1px solid #8080803d;
    margin-bottom: 2px;
    box-shadow: 0px 2px 6px 0px grey;
}

.DwonOptionBox {
    background-color:white;
    padding: 1px;
    text-align: center;
    border: 1px solid #8080803d;
    box-shadow: 0px 2px 6px 0px grey;

}
.DwonOptionBox>h2{
    color:#0000006b;
}


