.OptionBox {
    width: 23%;
    margin: 1%;
    display: inline-block;
}
.OptionBox-Container{
    display: grid;
    grid-row-gap: 2px;
}
.OptionBox-Item{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    font-size: 15px;
}
.OptionBox-Item>h2{
    text-decoration: none;
    color: #5F5E5E;
    text-transform: uppercase;
    font-size: 1.5em;
}
.OptionBox-Item>img{
    width: 70%;
    margin-top:15%;
    margin-bottom:15%;
}
.OptionBox-Item:hover {
    background-color: #D1ECF1;
}
.OptionBox-Item:hover ~ .OptionBox-Item{
    background-color: #D1ECF1;
}
.OptionBox-Item:active{
    background-color:#c1d7f9;
}
.OptionBox-Item:active ~ .OptionBox-Item{
    background-color:#c1d7f9;
}

#imgBox {
    width: auto;
    height: 150px;
}

/* PRIMER MEDIA QUERY */
@media screen and (max-width:814px){
    .OptionBox-Item>h2{
        font-size: 1.2em;
        text-align: center;
    }
}
/* FIN PRIMER MEDIA QUERY */
@media screen and (max-width:425px){
    .OptionBox{
        width: 29.33%;
        margin: 2%;
    }
    .OptionBox-Container{
        grid-row-gap: 0;
    }
    .OptionBox-Item>h2{
        font-size: 0.9em;
        text-align: center;
    }
    
    #imgBox {
        width: auto;
        height: 80px;
    }
}






