.second-footer{
    height: 30px;
    background-color: #848687;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
.second-footer>h6{
    margin: 0;
}
.first-footer {
    background-color: #41464A;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    height: 220px;
    align-items: center;
}
.info-containter-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    width:80%;
}
.itemfooter{
    padding: 15px;
}
.itemfooter>label{
    
    color: #E7E7E7;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    margin: 0;
}
.itemfooter>p{
    color:#BEBDBD;
}
.itemfooter:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 1;
}
.itemfooter:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 2;
}
.itemfooter:nth-of-type(3){
    grid-column-start: 3;
    grid-column-end: 3;
}
.itemfooter:nth-of-type(3)>p{
margin: 0;
}
.itemfooter:nth-of-type(3)>label{
    margin-bottom: 16px;
}
.footer-img-container{
    display: inherit;
    justify-content: center;
    align-items: center;
}
.footer-img-container>img{
    width: 150px;
}
.second-footer>h6{
    margin: 0;
    font-weight: normal;
}
.footer-desplegable-menu{
    display: none;
}
/* PRIMER MEDIA QUERY */

@media screen and (max-width:814px){/* media query para el tamaño de letra en footer */
    .itemfooter{
        font-size: 30px;
    }
    .itemfooter>label{
        font-size: 0.8em;
    }
    .itemfooter>p{
        font-size: 0.5em;
    }
    
    
}
/* FIN DE PRIMER MEDIA QUERY */

/* SEGUNDO MEDIA QUERY */
@media screen and (max-width:500px){
    .first-footer{
        padding: 10px;
        height: 250px;
    }
    .footer-img-container,.footer-img-container>img{
        width: 50%;
    }
    .info-containter-footer{
        display: flex;
        flex-direction: column;
    }
    .itemfooter{
        padding: 0;
        font-size: 20px;
    }
    .itemfooter:nth-of-type(1)>label,.itemfooter:nth-of-type(2)>label, .itemfooter:nth-of-type(3)>label{
        margin-bottom: 0;
        font-size: 0.7em;
        border-bottom: 1px solid white;
    }
    .itemfooter:nth-of-type(1)>p,.itemfooter:nth-of-type(2)>p, .itemfooter:nth-of-type(3)>p{
        margin:3px 0;
        text-align: justify;
    }
}
/* FIN DE SEGUNDO MEDIA QUERY */

/* TERCER MEDIA QUERY*/
@media screen and (max-width:319px){
    .first-footer{
        padding: 10px;
        height: 200px;
    }
    .footer-img-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .itemfooter:nth-of-type(1)>label, .itemfooter:nth-of-type(2)>label,.itemfooter:nth-of-type(3)>label{
        display: inline-block;
        /* position: absolute; */
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid white;
        content: "+";
    }
    .footercontenido{
        height: 0;
        overflow: hidden;
        margin: 2px;
        transition: all 0.5s;
    }
    .itemfooter input:checked ~ .footercontenido{
        height: auto;
        margin: 15px 0;
    }
    
}

/* FIN TERCER MEDIA QUERY*/
