/* PRIMER MEDA QUERY*/
@media screen and (min-width:1024px){
.header{
    font-family: benchnine;
    background-color: white;
    color:#5F5E5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 5px 5px 5px black;
  }
  .header ol,
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .header a{
    color: #5F5E5E;
    text-decoration: none;
    display: inherit;
    
  }
  .menu-principal{
    height: inherit;
  }
  .header ul{
    display: flex;
    height: inherit;
  }
  .header ul li{
    height: inherit;
  }
  .header a{
  display: flex;
  align-items: center;
  height: inherit; 
  padding: 0 10px;
  }
/* INICIO ESTILOS PARA CENTRAR EL HEADER */
  .container-header{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
}
.menu-principal>ul>li:nth-of-type(4){
  background-color: #D1ECF1;
}

/* FIN DE PRIMER QUERY */

@media screen and (min-width:768px){
}
@media screen and (min-width:480px){

}
@media screen and (min-width:320px){

}