

.header{
    font-family: benchnine;
    background-color: white;
    color:#5F5E5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 5px 5px 5px black;
  }
  .header ol,
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .header a{
    color: #5F5E5E;
    text-decoration: none;
    display: inherit;
    
  }
  .menu-principal{
    height: inherit;
  }
  .header ul{
    display: flex;
    height: inherit;
  }
  .header ul li{
    height: inherit;
  }
  .header a{
  display: flex;
  align-items: center;
  height: inherit; 
  padding: 0 10px;
  }
/* INICIO ESTILOS PARA CENTRAR EL HEADER */
  .container-header{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  .menu-principal>ul>li:nth-of-type(4){
    background-color: #D1ECF1;
  }

  /* EFECTOS PARA HOVER DEL MENÚ PRINCIPAL */
  .menu-principal>ul>li>a:hover{
    background-color:#E0DBDB;
    font-weight: bold;
    font-size: 1.06em;
  }

  /* INICIO DE PRIMER MEDIA QUERY */
  @media screen and (min-width:1024px){
   .header{
     margin: auto;
   }
   .responsive-menu-button{
     display: none;
   }
  }
  /* FIN DE PRIMER QUERY */




/* MEDAQUERY PARA TABLET */
@media screen and (max-width:767px){
  .responsive-menu-button{
    display: none;
  }
}
@media screen and (max-width:814px){
  .responsive-menu-button{
    display: none;
  }
}
/* FIN SEGUNDO MEDIA QUERY */



/* INICIO DE MEDIAQUERY PARA TABLET */
@media screen and (max-width:500px){


 /* MODIFICACIONES GENERALES AL HEADER */
  .header{
    height: 80px;;
  }

 /* MODIFICACIONES A ESTRUCTURA FLEX DEL HEADER */
  .container-header{
    flex-direction: column;
   }
  .logo-fixit-header{
    display: flex;
    width: 90%;
    /* margin:10px 0; */
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }

 /* ESTILOS AL ICONO DESPLEGABLE */
  .responsive-menu-button{
    display: inline-block;
    height: 30px;
    align-self: center;
    }

  /* ESTILOS A LOS ENLACES DEL MENÚ */
  .menu-principal{
    align-self: flex-end;
  }
  .menu-principal>ul{
    display: flex;
    flex-direction: column;
    height: initial;
  }
  .menu-principal>ul>li{
    padding: 5px;
    border: 1px solid #F2F2F2;
    background-color: white;
  }
  
  /* OCULTAR EL MENÚ MIENTRAS SE SOLUCIONA EL J QUERY */
  .menu-principal{
    display: none;
  }


/* FIN DE MEDIAUQERY PARA TABLET */
}


@media screen and (max-width:319px){

}