   
  .popupWhite {  
    position: absolute; 
    width: auto; 
    align-items: center;
    height: 350px;
    left: 15%;  
    right: 15%;  
    top: 15%;  
    bottom: 15%;  
    margin: auto;  
    padding: 2%;
    border-radius: 20px;  
    background-color: white;  
  }
  .popup {  
    position: fixed;  
    width: auto;  
    height: 100%;  
    z-index: 100;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0; 
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  } 

  /* FORMULARIO EN GENERAL */
  #app > div > div > div.display-info-container1 > figure > div > div.popup > div > form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    padding-bottom: 5%;
    grid-row-gap: 20%;
    height: 50%;
  }
  .label-form-mod-reserva{
    display: flex;
    width:80%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .label-form-mod-reserva{
    color: black;
    font-weight: bolder;
  }
  /* FIN FORMULARIO EN GENERAL */

  /* CAMPOS DEL FORMULARIO */
  .form-mod-container>label>select,.form-mod-container>label>input{
    width: 70%;
    margin-left: 5%;
    border: none;
    background-color: #F1F1F1;
    border-radius: 5%;
  
  }
  .form-mod-container>label>input{
    border: none;
    background-color: #F1F1F1;
    border-radius: 5%;
  }
  #app > div > div > div.display-info-container1 > figure > div > div.popup > div > form > div:nth-child(12){
    display: flex;
    justify-content: space-evenly;
  }
  #app > div > div > div.display-info-container1 > figure > div > div.popup > div > form > div:nth-child(12) > button{
    border: none;
    background-color: #3A8BBB;
    color: white; 
    width: 20%;
    border-radius: 23.5px;
    font-size: 13px;
    padding:1%;
  }
  /* FIN CAMPOS DEL FORMULARIO */