/* PRIMER MEDA QUERY*/
@media screen and (min-width:1024px){
  
  .hero-container{
    display: flex;
    /* justify-content: center;
    justify-items: center; */
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px grey;
}
.previous{
  font-size: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* padding: 8px 16px; */
  color:white;
  height: 50%;
  width: 30px;
  clip-path: circle(40% at 50% 50%);
}
.previous:hover{
background-color:#1F4899;
}
  .herosection-1{
    display: flex;
    justify-content: center;
    color: black;
    text-transform: capitalize;
    height: 80px;
    /* font-family: roboto; */
    margin: 0 auto;
  }
  .reservesection2-info-container{
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: white;
    padding: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .reservesection2-tittle-container{
    background-color: #D1ECF1;
    padding: 10px; 
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }
  .reservesection2-title>h2{
    margin: 0;
    font-weight: normal;
  }
  .reservesection2-title>h5{
    margin:0;
    font-weight: bold;
  }
  .reservesection2-title>h4{
    margin: 0;
  }
  #app > div.ReserveSection1 > div > div > div.reservesection2-info-container > div > h4{
    color: red;
  }
  #app > div.ReserveSection1 > div > div > div.reservesection2-info-container > div > button{
    border:none;
    font-style: none;
    border-radius: 15px;
    height: 40px;
    align-self: center;
    width: 10%;
    background-color: #1E7E34;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #app > div.ReserveSection1 > div > div > div.reservesection2-info-container > div > button > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
}
/* FIN PRIMER MEDA QUERY*/